# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#extras
CLAUDE.md
DEPLOYMENT.md
PRD.md
CleanShot*
DEBUG_INDUSTRY.md
FIXES.md
SEC_API_GUIDE.md
INDUSTRY_FIX.md
CORRECT_SEC_URL_FIX.md
FINAL_SEC_JSON_SOLUTION.md
HTML_FALLBACK_SOLUTION.md
INDUSTRY_FULLY_FIXED.md
SEC_INDUSTRY_SOLUTION.md
WHY_SOME_COMPANIES_FAIL.md
COMPANY_CIK_FIX.md
FIXES.md
ALL_FIXES_APPLIED.md
CLUSTER_FIX.md
CLUSTER_TABLE_UPDATE.md
CLUSTER_TABLE_UPDATE.md
CLUSTERS_ALL_TYPES.md
CLUSTERS_ALL_TYPES.md
FIXED_SIMPLE.md
FIXES_APPLIED.md
FIXES_NEEDED.md
FIXES.md
SIMPLE_FIX.md
CORRECT_CLUSTER_DEFINITION.md
TOP_TRADES_LOGIC.md